* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Inter, var(--gr21-main-font-family, sans-serif);
}

img {
    width: 100%;
}

/* header-right */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 28px;
    height: 50px;
}


.fa-bars {
    font-size: 28px;
}

.header-right .header-menu {
    display: none;
}

.header-right .header-logo img {
    width: 4.2rem;
}

/* header-left */
.header-left {
    display: flex;
    align-items: center;
}

nav {
    display: none;
}

/* Main */
.mobile-view {
    margin: 0 20px 0 20px;
}

.grab-title {
    padding-top: 2.5rem;
}

.grab-title h1 {
    font-size: 18px;
    font-weight: 200;
}

.top-content {
    padding-top: 1rem;
}

.top-content p {
    font-size: 40px;
    font-weight: 600;
}

.main-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 26px 0 22px 0;
    gap: 10px;
}

.main-button button {
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
}

.main-button .left-button {
    color: #FFFFFF;
    background-color: #00b14f;
    padding: 18px 120px;  
}

.main-button .right-button {
    color: #000000;
    background-color: #eef9f9;
    padding: 18px 104px;
}

/* Overview */
.overview {
    font-size: 18px;
    margin: 50px 0 18px 0;
}

.overview-content {
    font-size: 24px;
    padding-bottom: 60px;
}

.grabfood-border {
    border-top: 1px solid #000000;
}

.why-grabfood {
    font-size: 18px;
    padding: 35px 0 0 0;
}

.reason-container {
    font-size: 32px;
    font-weight: 600;
}

.grab-space {
    padding-top: 35px;
}

.grab-reason {
    padding: 35px 0 35px 0;
    border-bottom: 2px solid #e5e9f0;
}

.grab-reason-third {
    padding: 35px 0 35px 0;
}

/* end */

@media screen and (min-width: 768px) {
    header {
        border-bottom: 1px solid #ddd;
    }

    .header-right {
        height: 69px;
    }

    .fa-bars {
        font-size: 33px;
    }

    .header-right .header-menu {
        display: block;
        font-size: 11px;
        line-height: 1.5rem;
    }

    .header-right .header-logo img {
        width: 5.6rem;
    }

    /* nav */
    .header-left {
        gap: 35px;
        padding-right: 10px;
    }

    nav {
        display: block;   
    }

    nav ul {
        list-style: none;    
    }

    .main-nav ul {
        display: flex;
        gap: 35px;
        font-stretch: ultra-expanded;
        font-size: 17px;
        font-weight: 500;
    }

    .main-image img {
        object-fit: cover;
        height: 320px;
    }

    .tablet-view {
        margin-left: auto;
        margin-right: auto;
        max-width: 685px;
    }
}

@media screen and (min-width: 1025px) {
    .main-container {
        display: flex;
        justify-content: space-between;
    }

    /* .mobile-view {
        margin: 0;
    } */

    .laptop-view {
        max-width: 400px;
        margin: auto;
        
    }

    .main-image img {
        min-width: 100%;
        height: auto;
    }

    .top-content p {
        font-size: 42px;
        font-weight: 600;
    }

    .main-button {
        display: flex;
        flex-direction: row;
    }

    .main-button .left-button {
        padding: 20px 35px;
    }

    .main-button .right-button {
        padding: 20px 40px;
    }
}